body
{
    background-color: rgb(192, 190, 206);
    text-align: center;
}

#container
{
    /* background: brown; */
    width: auto;
    height: 500px;
}

#header
{
    height: 60px;
    
}
#nav
{
    /* background: yellowgreen; */
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;

}

#footer{
    background: #EEEED1;
    padding: 5px;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

a:link, a:visited {
	text-decoration: none
	}
a:hover {
	color: rgb(41, 23, 124)
	}
a:active {
	text-decoration: none
	}

.table
{
    align-items: center;
    text-align: center;
}